# **Libraries**

Use this line if you don't have downloaded the python libraries

In [ ]:
# !pip install pandas==2.0.3
# !pip install numpy==1.25.2
# !pip install requests==2.29.0

Run libraries

In [1]:
import os
import requests
import pandas as pd
import numpy as np

# **Read Data**

Read data and create the file

In [2]:
## download the dataset
# Directory of the raw data files
_data_root = '../Diabetes'
# Path to the raw training data
_data_filepath = os.path.join(_data_root, 'Diabetes.csv')
# Download data
os.makedirs(_data_root, exist_ok=True)
if not os.path.isfile(_data_filepath):
    #https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/
    url = 'https://docs.google.com/uc?export= \
    download&confirm={{VALUE}}&id=1k5-1caezQ3zWJbKaiMULTGq-3sz6uThC'
    r = requests.get(url, allow_redirects=True, stream=True)
    open(_data_filepath, 'wb').write(r.content)

# **Split Data**

In [3]:
df = pd.read_csv("../Diabetes/Diabetes.csv")
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# X = df.drop(columns=["readmitted"])
# y = df["readmitted"] # .map({"ham": 0, "spam": 1})

Here we split the data set

In [120]:
train_split = 0.8973
val_split = 0.05135
df_provicional = df.sample(frac=1, random_state=42)
df_train, df_validation, df_test = np.split(df_provicional, [int(train_split * len(df_provicional)), int((train_split+val_split) * len(df_provicional))])

# **Review and save dataframes in csv**

In [121]:
print(len(df_train))
df_train.to_csv("../Diabetes/diabetes_train.csv")
df_train.head()

91314

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
35956,110939484,19274094,Caucasian,Female,[70-80),?,1,1,6,11,...,No,Steady,No,No,No,No,No,No,Yes,NO
60927,170328306,65634327,Caucasian,Male,[50-60),?,1,1,1,1,...,No,No,No,No,No,No,No,No,Yes,NO
79920,245688426,100657359,Caucasian,Female,[60-70),?,3,6,1,4,...,No,No,No,No,No,No,No,No,Yes,NO
50078,150826224,83144448,Caucasian,Male,[30-40),?,2,1,1,12,...,No,No,No,No,No,No,No,No,Yes,>30
44080,135993852,65234214,AfricanAmerican,Female,[60-70),?,1,2,7,1,...,No,No,No,No,No,No,No,No,Yes,<30

In [122]:
print(len(df_validation))
df_validation.to_csv("../Diabetes/diabetes_val.csv")
df_validation.head()

5226

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
88731,285778410,91465884,Caucasian,Female,[80-90),?,1,3,7,2,...,No,Steady,No,No,No,No,No,No,Yes,>30
86310,274490130,40888386,Caucasian,Female,[50-60),?,1,1,7,4,...,No,Down,No,No,No,No,No,Ch,Yes,>30
86268,274327332,97411455,Caucasian,Female,[50-60),?,1,1,7,10,...,No,No,No,No,No,No,No,No,Yes,NO
69103,195906000,94605066,Caucasian,Female,[80-90),?,2,3,1,3,...,No,No,No,No,No,No,No,No,Yes,>30
7689,35968662,11605473,Caucasian,Male,[70-80),?,3,1,1,1,...,No,No,No,No,No,No,No,Ch,Yes,<30

In [123]:
print(len(df_test))
df_test.to_csv("../Diabetes/diabetes_test.csv")
df_test.head()

5226

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
30257,97937160,16008777,Caucasian,Female,[20-30),?,2,1,1,10,...,No,Steady,No,No,No,No,No,No,Yes,NO
35595,110139216,23507226,Caucasian,Female,[40-50),?,5,1,17,3,...,No,Down,No,No,No,No,No,Ch,Yes,NO
22164,76669422,90388089,Caucasian,Female,[70-80),?,6,1,17,3,...,No,No,No,No,No,No,No,No,Yes,NO
70532,202592544,57904938,Caucasian,Male,[70-80),?,1,7,7,1,...,No,No,No,No,No,No,No,No,No,>30
68798,194634186,20220642,AfricanAmerican,Female,[80-90),?,1,1,7,4,...,No,No,No,No,No,No,No,No,No,NO